html, body {
  background: black;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
    display: flex;
    height: 90%;
    width: 100%;
}

header {
    margin: auto;
}

h1 {
    font-family: Montserrat;
    font-weight: 200;
    color: white;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size:2em;
}

div.social_bar {
    margin: auto;
    text-align: center;
    padding-right: 2em;
}

a.social_link {
    color: #f9f9f9;
    padding-left: 1em;
    text-decoration: none;
    z-index: 1;
}

@media (max-width: 43em){
    h1 {
      font-size: 0.75rem;
    }
  }

  @media (max-width: 43em){
    .social_bar {
        transform: scale(0.5);
        
    }
  }
/*Background animation*/

.circles{
    color: whitesmoke;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
    z-index: 2;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 10px;
    height: 10px;
    animation: animate 60s linear infinite;
    bottom: -150px;
    background: white;
    border-radius: 50%;
}

.circles li:nth-child(1){
    left: 25%;
    width: 10px;
    height: 10px;
    animation-delay: 11s;
    animation: 14s;
    border-radius: 50%;
}

.circles li:nth-child(2){
    left: 10%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 14.5s;
    border-radius: 50%;
}

.circles li:nth-child(3){
    left: 40%;
    width: 10px;
    height: 10px;
    animation-delay: 0s;
    animation-duration: 9s;
    border-radius: 50%;
}

.circles li:nth-child(4){
    left: 65%;
    width: 15px;
    height: 15px;
    animation-delay: 0.5s;
    animation-duration: 11s;
    border-radius: 50%;
}

.circles li:nth-child(5){
    left: 75%;
    width: 10px;
    height: 10px;
    animation-delay: 2.5s;
    animation-duration: 15.5s;
    border-radius: 50%;
}

.circles li:nth-child(6){
    left: 35%;
    width: 15px;
    height: 15px;
    animation-delay: 5s;
    animation-duration: 13s;
    border-radius: 50%;
}

.circles li:nth-child(7){
    left: 50%;
    width: 10px;
    height: 10px;
    animation-delay: 0.75s;
    animation-duration: 18s;
    border-radius: 50%;
}

.circles li:nth-child(8){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 3s;
    animation-duration: 9s;
}

.circles li:nth-child(9){
    left: 85%;
    width: 10px;
    height: 10px;
    animation-delay: 0s;
    animation-duration: 16s;
    border-radius: 50%;
}

.circles li:nth-child(10){
    left: 2%;
    width: 15px;
    height: 15px;
    animation-delay: 0s;
    animation-duration: 14s;
    border-radius: 50%;
}

.circles li:nth-child(11){
    left: 72%;
    width: 10px;
    height: 10px;
    animation-delay: 1s;
    animation-duration: 13.5s;
    border-radius: 50%;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100%{
        transform: translateY(-1000px) rotate(0deg);
        opacity: 0;
    }

}
